/* ----------------------------- Containers ----------------------------- */

.wrap{
	padding: 5px;
}

.group{
	margin: 10px;
}

/* ----------------------------- || ---------------------------------- */


/* ----------------------------- Dialogs ----------------------------- */

.dialog{
	position: absolute;
	z-index: 9999;
	background-color: #2E2F31;
	margin: auto;
	width: 400px;
  	top: 50%; left: 50%;
}

.dialog .header{
	
}

.dialog .header .caption{
	margin: 16px;
	cursor: 
}

.dialog .content{
	padding: 20px;
	border-bottom: 1px solid #1C1C1C;
	border-top: 1px solid #494949;
}

.dialog .footer{
	padding-left: 10px;
}

.dialog .footer,
.dialog .header{
	height: 50px;
	border-bottom: 1px solid #1C1C1C;
	border-top: 1px solid #494949;	
}

.dialog .footer .button{
	margin-top: 10px;
	float: left;
}

/* ----------------------------- Titles ----------------------------- */

.caption{
	font-weight: bold;
	color: white;
}

/* ----------------------------- || ---------------------------------- */

/* ----------------------------- Buttons ----------------------------- */

.button{
	padding: 5px;
	display: inline;
	color: #23A96E;
	cursor: pointer;
	font-weight: bold;
}

/* ----------------------------- || ---------------------------------- */

/* ----------------------------- Inputs ----------------------------- */

.control{
	display: block;
}

.text{
	margin: 5px;
	font-weight: bold;
	background-color: #B6B6B6;
	padding: 5px;
	color: #2E2E30;
	border: 0;
}


/* ----------------------------- || ---------------------------------- */