/* ----------------------------- Containers ----------------------------- */

.wrap{

}

/* ----------------------------- || ---------------------------------- */


/* ----------------------------- Dialogs ----------------------------- */

.dialog{
	position: absolute;
	z-index: 9999;
	box-shadow: 0px 0px 10px 1px silver;
	margin: auto;
  	top: 50%; left: 50%;
}

.dialog .header{
	
}

.dialog .header .caption{
	margin: 10px;
	cursor: 
}

.dialog .content{
	padding: 20px;
}

.dialog .footer{
	height: 50px;	
}

.dialog .footer .button{
	margin-top: 10px;
	float: left;
}

/* ----------------------------- Titles ----------------------------- */

.caption{
	color: #3399FF;
}

/* ----------------------------- || ---------------------------------- */

/* ----------------------------- Buttons ----------------------------- */

.button{
	padding: 5px;
	display: inline;
	color: #3399FF;
	cursor: pointer;
}

/* ----------------------------- || ---------------------------------- */

/* ----------------------------- Inputs ----------------------------- */

.control{
	display: block;
}

.text{
	margin: 5px;
}


/* ----------------------------- || ---------------------------------- */