/* ----------------------------- Containers ----------------------------- */

.wrap{
	padding: 5px;
}

.group{
	margin: 10px;
}

/* ----------------------------- || ---------------------------------- */


/* ----------------------------- Dialogs ----------------------------- */

.dialog{
	position: absolute;
	z-index: 9000;
	background-color: #F2F0F0;
	width: 400px;  	
}

.dialog .header{
	/* ... */
}

.dialog .header .caption{
	margin: 16px;
	cursor: 
}

.dialog .content{
	padding: 20px;
	border-bottom: 1px solid #1C1C1C;
	border-top: 1px solid #494949;
}

.dialog .footer{
	padding-left: 10px;
}

.dialog .footer,
.dialog .header{
	height: 50px;
	border-bottom: 1px solid #1C1C1C;
	border-top: 1px solid #494949;	
}

.dialog .footer .button{
	margin-top: 10px;
	float: left;
}

/* ----------------------------- Titles ----------------------------- */

.caption{
	font-weight: bold;
	color: #1C1C1C;
}


/* ----------------------------- || ---------------------------------- */

/* ----------------------------- Buttons ----------------------------- */

.button{
	padding: 10px;
	margin-left: 10px;
	display: inline;
	color: #1C1C1C;
	cursor: pointer;
	font-weight: bold;
	background-color: #CFCFCF;
}

.button:hover {
  background-color: gray !important;
  color: white;
}

/* ----------------------------- || ---------------------------------- */

/* ----------------------------- Inputs ----------------------------- */

.control{
	display: block;
}

.text{
	padding: 10px;
	margin: 10px;
	width: 200px;
	font-size: 15px;
}


/* ----------------------------- || ---------------------------------- */

/*
 green - #CFD01E;
*/