<div class="wrap">
	<div class="group">
		<input placeholder="Title" class="control text" type="text" name="title" value="<%= model.title %>">
	</div>
	<div class="group">
		<input placeholder="Description" class="control text" type="text" name="description" value="<%= model.description %>">
	</div>
	<div class="group">
		<input placeholder="Type" class="control text" type="text" name="type" value="<%= model.type %>">
	</div>
	<div class="group">
		<input placeholder="Sensor ID" class="control text" type="text" name="sensor_id" value="<%= model.sensor_id %>">
	</div>
</div>