<div class="wrap">
	<div class="group">
		<span class="caption">Title:</span>
		<input class="control text" type="text" name="title" value="<%= model.title %>">
	</div>
	<div class="group">
		<span class="caption">Description:</span>
		<input class="control text" type="text" name="description" value="<%= model.description %>">
	</div>
	<div class="group">
		<span class="caption">Type:</span>
		<input class="control text" type="text" name="type" value="<%= model.type %>">
	</div>
	<div class="group">
		<span class="caption">Sensor ID:</span>
		<input class="control text" type="text" name="sensor_id" value="<%= model.sensor_id %>">
	</div>
</div>