#mainBoard #boardSideBar {
	width: 300px;
	background-color: #2E2E30;
	height: 100%;
	float: left;
	border-right: 1px solid #1C1C1C;
	box-sizing: border-box;
    -moz-box-sizing: border-box; 
    -ms-box-sizing: border-box
    -webkit-box-sizing: border-box;
  	margin-left: -300px;
}

#mainBoard #boardSideBar .content{
	overflow: auto;
	border-bottom: 1px solid #494949;	
}

#mainBoard #boardSideBar .footer{
	height: 50px;
	width: 300px;
	text-align: center;
	bottom: 0;
	position: fixed;
}


#mainBoard #boardSideBar .footer #addControlledArea{
	margin-top: 5px;
	position: relative;
	font-weight: bold;
	font-size: 25px;
	display: block;
}

#mainBoard #boardSideBar .controlledArea{
	height: 60px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	color: white;
	background-color: #2E2E30;
	border-bottom: 1px solid #1C1C1C;
	border-top: 1px solid #494949;	
}

#mainBoard #boardSideBar .controlledArea.hovered,
#mainBoard #boardSideBar .controlledArea.selected{
	background-color: #2B463D;
}

#mainBoard #boardSideBar .controlledArea .title{
	margin-top: 22px;
	margin-right: 10px;
}

#mainBoard #boardSideBar .controlledArea .decorationBar{
	width: 10px;
	position: relative;
	float: left;
	height: 100%;
}

#mainBoard #boardSideBar .controlledArea.hovered .decorationBar,
#mainBoard #boardSideBar .controlledArea.selected .decorationBar{
	background-color: #1DA96F;
}

#mainBoard #boardSideBar .controlledArea.selected .decorationBar,
#mainBoard #boardSideBar .controlledArea.selected{
	box-shadow: inset 4px 1px 8px 0px black;	
}
