#mainBoard {
	height: 100%;
	width: 100%;
	background-color: #F2F0F0;
	position: absolute;
}

#mainBoard .body{
	margin-left: 300px;
  	height: 100%;
  	padding: 60px 0 0px 0;
  	box-sizing: border-box;
    -moz-box-sizing: border-box; 
    -ms-box-sizing: border-box
    -webkit-box-sizing: border-box;
}

.boardSideBarDialog input.control.text{
	width: 285px;
}

.boardSideBarDialog span.caption{
	margin-left: 5px;
}

