#mainBoard #boardToolbar {
	height: 60px;
	background-color: #F2F0F0;
	box-sizing: border-box;
    -moz-box-sizing: border-box; 
    -ms-box-sizing: border-box
    -webkit-box-sizing: border-box;
	border-bottom: 1px solid #1C1C1C;
	margin-left: -300px;
	margin-top: -60px;
}

#mainBoard #boardToolbar .toolbarButtons{
	float: right;
	height: 100%;
}

#mainBoard #boardToolbar .toolbarButton{
	float: right;
	height: 100%;
	background-color: #F2F0F0;	
	box-sizing: border-box;
}

#mainBoard #boardToolbar .search input{
	width: 257px;
}