#mainBoard #boardToolbar {
	height: 60px;
	background-color: #2E2E30;
	box-sizing: border-box;
    -moz-box-sizing: border-box; 
    -ms-box-sizing: border-box
    -webkit-box-sizing: border-box;
	border-bottom: 1px solid #1C1C1C;
	margin-left: -300px;
	margin-top: -60px;
}

#mainBoard #boardToolbar .toolbarButtons{
	width: 250px;
	float: right;
	height: 100%;
	margin-right: 20px;
}

#mainBoard #boardToolbar .toolbarButton{
	float: right;
	height: 100%;
	box-sizing: border-box;
}