#mainBoard #boardCanvas {
	float: right;
	height: 100%;
	width: 100%;
	background-color: #2E2E30;
	border-left: 1px solid #494949;
	border-top: 1px solid #494949;
	overflow: auto;
	box-sizing: border-box;
    -moz-box-sizing: border-box; 
    -ms-box-sizing: border-box
    -webkit-box-sizing: border-box;
}

#mainBoard #boardCanvas .fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
	width: 120px;
}

#mainBoard #boardCanvas .fileUpload span{
	font-size: 60px;	
}

#mainBoard #boardCanvas .fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	width: 60px;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

#mainBoard #boardCanvas .canvasCA {
	display: block;
	overflow: auto;
	position: relative;
	text-align: center;
	white-space: nowrap;
}

#mainBoard #boardCanvas .canvasCA .imageResource{
	vertical-align: middle;	
}

#mainBoard #boardCanvas .canvasCA .imageHelper{
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

#mainBoard .boardCanvasDialog input.control.text {
	width: 310px;
}

.grid .sensor{
	width: 100%;
	height: 100%;
	background-color: red;
	border-radius: 50%;	
}
